html, body {
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0; }

.buttons-view {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center; }
  .buttons-view__btn {
    margin: 15px;
    border: none;
    outline: none;
    padding: 5px 10px;
    background-color: #e6e6e6;
    color: black;
    cursor: pointer; }
    .buttons-view__btn.active {
      background-color: #f8f8f8;
      color: gray;
      cursor: default; }

.catalog-news {
  overflow-x: hidden; }
  .catalog-news_mw_980 {
    width: 100%;
    margin: 0 auto;
    max-width: 980px; }
  .catalog-news__wr {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    margin: 0 -20px; }
    .catalog-news__wr.thumb {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .catalog-news__wr.thumb .catalog-news__item {
        max-width: 300px; }
      .catalog-news__wr.thumb .news-item__text {
        padding: 0 20px; }
    .catalog-news__wr.list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .catalog-news__wr.list .catalog-news__item {
        max-width: 640px;
        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox; }
      .catalog-news__wr.list .news-item__wimage {
        min-width: 300px;
        margin-right: 15px; }
        .catalog-news__wr.list .news-item__wimage img {
          width: 100%; }
        @media (max-width: 640px) {
          .catalog-news__wr.list .news-item__wimage {
            margin-right: 0; }
            .catalog-news__wr.list .news-item__wimage img {
              width: auto;
              height: 100%; } }
      .catalog-news__wr.list .news-item__text {
        min-width: 250px; }
      .catalog-news__wr.list .news-item__anounce {
        display: block; }
      .catalog-news__wr.list .news-item__wimage_banner {
        max-width: 640px;
        margin-right: 0; }
      @media (max-width: 640px) {
        .catalog-news__wr.list {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center; }
          .catalog-news__wr.list .catalog-news__item {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center; } }
    @media (max-width: 768px) {
      .catalog-news__wr {
        margin: 0 15px;
        overflow: hidden; } }
  .catalog-news__item {
    width: 100%;
    margin: 0 20px 35px;
    position: relative; }
    .catalog-news__item_banner {
      max-width: 640px !Important; }
    @media only screen and (max-width: 580px) {
      .catalog-news__item {
        margin: 0 0 35px; } }

.news-item__wimage {
  position: relative; }
  .news-item__wimage_banner:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0; }
  .news-item__wimage img {
    width: 100%; }
    @media (max-width: 768px) {
      .news-item__wimage img {
        width: auto;
        height: 100%; } }
.news-item__text {
  margin-top: 10px; }
  .news-item__text_banner {
    position: absolute;
    left: 20px;
    bottom: 30px;
    z-index: 1;
    margin-top: 0; }
.news-item__title {
  font: 400 18px/24px "Noto Sans", sans-serif;
  color: #474d4a; }
  .news-item__title_banner {
    color: #fff; }
.news-item__anounce {
  display: none;
  font: 400 14px/20px "Noto Sans", sans-serif;
  color: #474d4a;
  margin-top: 5px; }

/*# sourceMappingURL=styles.css.map */
