$fontFamily: 'Noto Sans', sans-serif;

html, body {
	margin: 0;
	padding: 0;
	font-size: 0;
	line-height: 0;
}

.buttons-view {
	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;

	justify-content: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;

	&__btn {
		margin: 15px;
		border: none;
		outline: none;
		padding: 5px 10px;
		background-color: lighten(gray, 40%);
		color: lighten(black, 0%);
		cursor: pointer;
		&.active {
			background-color: lighten(gray, 47%);
			color: lighten(black, 50%);
			cursor: default;
		}
	}
}

.catalog-news {
	
	overflow-x: hidden;
	
	&_mw_980 {
		width: 100%;
		margin: 0 auto;
		max-width: 980px;
		
	}

	&__wr {

		display: flex;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;

		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		margin: 0 -20px;
		
		&.thumb {
			-webkit-box-orient: horizontal;
		    -webkit-box-direction: normal;
	        -ms-flex-direction: row;
            flex-direction: row;

			-webkit-box-pack: center;
		    -ms-flex-pack: center;
	        justify-content: center;
			
	        .catalog-news__item {
	        	max-width: 300px;
	        }
	        .news-item__text {
	        	padding: 0 20px;
	        }
		}

		&.list {
			-webkit-box-orient: vertical;
		    -webkit-box-direction: normal;
	        -ms-flex-direction: column;
            flex-direction: column;

            -webkit-box-pack: start;
		    -ms-flex-pack: start;
	        justify-content: flex-start;

	        -webkit-box-align: center;
        	-ms-flex-align: center;
            align-items: center;

            .catalog-news__item {
            	max-width: 640px;
            	display: flex;
				display: -webkit-box;
				display: -webkit-flex;
				display: -ms-flexbox;
            }
            .news-item__wimage {
            	min-width: 300px;
            	margin-right: 15px;
            	img {
            		width: 100%;
            	}
            	@media (max-width: 640px) {
            		margin-right: 0;
            		img {
            			width: auto;
            			height: 100%;
            		}
            	}
            }
            .news-item__text {
            	min-width: 250px;
            }
            .news-item__anounce {
            	display: block;
            }
            .news-item__wimage_banner {
            	max-width: 640px;
            	margin-right: 0;
            }

			@media (max-width: 640px){
				-webkit-box-orient: horizontal;
			    -webkit-box-direction: normal;
		        -ms-flex-direction: row;
	            flex-direction: row;

				-webkit-box-pack: center;
			    -ms-flex-pack: center;
		        justify-content: center;
                .catalog-news__item {
					-webkit-box-orient: vertical;
				    -webkit-box-direction: normal;
			        -ms-flex-direction: column;
		            flex-direction: column;
        	        -webkit-box-align: center;
                	-ms-flex-align: center;
                    align-items: center;
                }
			}

		}

		@media (max-width: 768px) {
			margin: 0 15px;
			overflow: hidden;
		}

	}

	&__item {
		//max-width: 300px;
		width: 100%;
		margin: 0 20px 35px;
		position: relative;
		&_banner {
			max-width: 640px !Important;
		}

		@media only screen and (max-width: 580px) {
			margin: 0 0 35px;
		}
	}

	
}

.news-item {
	
	&__wimage {
		position: relative;
		&_banner {
			&:after {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background: rgba(0,0,0,.5);
				z-index: 0;
			}
		}
		img {
			width: 100%;
			@media (max-width: 768px){
				width: auto;
				height: 100%;
			}
		}
	}

	&__text {
		margin-top: 10px;
		&_banner {
			position: absolute;
			left: 20px;
			bottom: 30px;
			z-index: 1;
			margin-top: 0;
		}

	}
	&__title {
		font: 400 18px/24px $fontFamily;
		color: #474d4a;
		&_banner {
			color: #fff;
		}
	}
	&__anounce {
		display: none;
		font: 400 14px/20px $fontFamily;
		color: #474d4a;
		margin-top: 5px;
	}

}